img{
    position: relative;
    padding: 2px;
    border: 1px solid red;
}body{
    width: 500px;
    margin: 0 auto;
 }
.menu{
    position: fixed;
    padding: 5px;
    margin: 20px;
    background-color: chartreuse;
}
.menu li{
    list-style-type: none;
    display: inline;
    line-height: 2em;
    margin-right: 10px;
}